
/* Reset & base styles */
* {
    margin: 0;
    padding: 0;
}

body,
html {
    height: 100%;
    font-family: 'Segoe UI', sans-serif;
}



/* person section */
.person {

    display: flex;
    align-items: center;
    justify-content: center;
    /* used inside flexbox containers to control horizontal alignment*/
    text-align: center;
    padding: 0 1rem;
}

#carouselExampleAutoplaying {
    position: relative;
}

/* Overlay container */
.carousel-overlay {
    position: absolute;
    top: 25%;
    /* Push content near the top */
    left: 50%;
    transform: translateX(-50%);
    font-size: large;
    /* Only center horizontally */
    color: white;
    text-align: center;
    z-index: 10;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    width: 100%;
    padding: 0 20px;
    height: 100vh;
}

.carousel-overlay h1 {
    font-style: italic;
    font-family: sans-serif;
    margin-bottom: 10px;

}

.carousel-overlay p{
    font-family: fantasy;
    font-size: large;
}



/* hide controls for this specific carousel */
#carouselExampleAutoplaying .carousel-control-prev,
#carouselExampleAutoplaying .carousel-control-next {
  display: none !important;
}


#carouselExampleAutoplaying .carousel-inner img {
    filter: brightness(60%);
    object-fit: cover;
    height: 100vh;
}

/* Video Section */
.video-section {
    background-color: #836f6f;
    /* padding: 3rem 1rem; */
    display: flex;
    justify-content: center;
}

.video-container {
    position: relative;
    width: 100%;
    max-width: 800px;
    aspect-ratio: 16 / 9;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
    border-radius: 12px;
    overflow: hidden;
    margin:0;
}

.video-container iframe {
    width: 100%;
    height: 100%;
    border: none;
}