:root {
  --banner-start: #2b5876;
  --banner-end: #4e4376;
}

/* Simple gradient banner */
.gradient-banner {
  background: linear-gradient(90deg, var(--banner-start), var(--banner-end));
  color: #fff;
}


/* Task 2 - Pagination */
#navi {
  display : flex;
  margin-top: 1rem;
  justify-content: space-between;
  align-items: center;
}



/* Task 11 - IMH Hotline */
#imh-hotline {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: orange;
  padding: 15px 0 ;
  text-align: center;
  z-index: 9999;
  box-shadow: 0 -2px 10px grey;
  /* border-top */
}

